<div class="container-fluid text-center mt-5 pt-3">
  <div class="row mt-5 mb-4 text-center">
    <div class="col-md-12">
      <div class="btn-group">
        <button
          *ngFor="let button of filterButtons"
          type="button"
          class="btn btn-outline-dark btn-light w-100"
          (click)="getTasks(button)"
          [ngClass]="{ active: isActiveButton === button }"
        >
          {{ button }}
        </button>
      </div>
    </div>
  </div>

  <app-task-list-item
    *ngFor="let task of tasks"
    [task]="task"
  ></app-task-list-item>

  <div class="row mt-5">
    <div class="col-md-12 text-center mt-3">
      <button
        type="button"
        class="btn btn-primary"
        routerLink="/task-management/add-task"
      >
        Add New Task
      </button>
    </div>
  </div>
</div>
